# Database Configuration
POSTGRES_USER=set_user_name
POSTGRES_PASSWORD=set_user_password
POSTGRES_DB=n8n
POSTGRES_PORT=5432

# n8n Configuration
N8N_PORT=5678
N8N_BASIC_AUTH_USER=set_user_name
N8N_BASIC_AUTH_PASSWORD=set_user_password
N8N_DEFAULT_BINARY_DATA_MODE=true
N8N_SECURE_COOKIE = false
NODE_FUNCTION_ALLOW_EXTERNAL=uuid, jwt

# ngrok Configuration
NGROK_AUTHTOKEN=set_auth
NGROK_PUBLIC_URL=public_url
